<div class="staff-details">
	<div class="staff-image">
		<img src="{{ coaching.data.image }}" alt="Staff photo for {{ coaching.data.name }}" width="120" height="120">
	</div>
	<div class="staff-bio">
	  <p>{{ coaching.data.description }}</p>
  </div>
</div>


